
name: Executar C贸digo Diariamente

on:
  schedule:
    - cron: '0 4 * * *' 
  push:
    branches:
      - main  

jobs:
  executar_codigo:
    name: Executar C贸digo
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do reposit贸rio
        uses: actions/checkout@v2
      
      - name: Atualizar pip
        run: python -m pip install --upgrade pip
      
      - name: Instalar Dependencias
        run: pip install -r requirements.txt  
        
      - name: Executar c贸digos
        run: python hub.py
