
name: Executar Código Diariamente

on:
  schedule:
    - cron: '0 4 * * *' 
  push:
    branches:
      - main  

jobs:
  executar_codigo:
    name: Executar Código
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v2
      
      - name: Atualizar pip
        run: python -m pip install --upgrade pip
      
      - name: Instalar Dependencias
        run: pip install -r requirements.txt  

      - name: Navegar para o diretório do script
        run: cd aws-mysql-python  # Substitua pelo caminho real
        
      - name: Executar códigos
        run: python hub.py
